@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

:root {
  --white: #f2f2f2;
  --dark-grey: #2c2c2c;
  --darkest-grey: #202020;
  --primary: #1f004e;
  --secondary: #7447bc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background: var(--white);
  color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

header {
  width: 100vw;
  height: 200px;
  background: var(--dark-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  color: var(--white);
}

header h1 {
  font-size: 2.3rem;
  font-weight: 900;
  margin: 1rem 0;
}

header h1 span {
  color: var(--secondary);
}

.search-container {
  display: flex;
  align-items: center;
}

.query {
  width: 100%;
  max-width: 300px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  border: none;
  border-radius: 8px;
  padding: 1.5rem;
  margin-right: 1rem;
}

.query:focus {
  background: var(--white);
  outline: none;
  transition: 1s;
}

.query::-webkit-input-placeholder {
  color: var(--white);
  font-weight: bold;
}

button {
  width: 54px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background: var(--primary);
  color: var(--white);
}

button:hover {
  background: var(--white);
  color: var(--primary);
  transition: 1s;
}

main {
  width: 100vw;
  height: 100%;
  padding: 2rem;
}

.user-info {
  margin: auto;
  max-width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-avatar,
.repo {
  max-width: 400px;
  margin: auto;
  background-color: var(--white);
  width: 100%;
  border: solid 1px var(--dark-grey);
  border-radius: 4px;
  padding: 1.5rem;
  text-align: center;
}

.user-avatar:hover,
.repo:hover {
  color: var(--white);
  background-color: var(--darkest-grey);
  border: solid 1px var(--white);
  transition: 1s;
}

.user-login {
  opacity: 0.8;
  margin-bottom: 1rem;
}

.avatar_img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 2.2rem 0;
}

.avatar_img:hover {
  border-radius: 0%;
  transform: scale(1.2) translateY(-5px);
  transition: 1s;
}

.user-stats {
  color: var(--darkest-grey);
  width: 100%;
  max-width: 400px;
  display: flex;
  margin: 1rem 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.repo {
  border: solid 1px var(--dark-grey);
  border-radius: 4px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}

.repo h3 {
  margin-bottom: 1.5rem;
  text-align: left;
  text-transform: capitalize;
}

.repo-description {
  text-align: left;
  margin-bottom: 1rem;
}

.repo-language {
  opacity: 0.8;
  text-align: left;
  margin-bottom: 1rem;
}

.repo-stats,
.repo a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  width: 100%;
  padding: 1rem 0;
  line-height: 1.8rem;
}

.repo a {
  text-decoration: none;
  word-break: break-all;
  color: var(--secondary);
  cursor: pointer;
}
